parameters:
	level: 6
	paths:
		- src
		- tests
	excludePaths:
		- src/Serializer/Denormalizer
		- src/Serializer/Normalizer
	ignoreErrors:
		-
			message: '#Trait .* is used zero times and is not analysed#'
			path: src/Model/Property